@{
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
    ViewData["Title"] = "¿Olvidaste tu contraseña? ";
    ViewData["Description"] = "Aquí puedes recuperarla fácilmente..";

}

<form asp-asp-controller="Acceso" asp-action="ForgotPassword" method="post">
    <div class="input-group mb-3">
        <input type="email" class="form-control" placeholder="Email">
        <div class="input-group-append">
            <div class="input-group-text">
                <span class="fas fa-envelope"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <button type="submit" class="btn btn-primary btn-block">Request new password</button>
        </div>
        <!-- /.col -->
    </div>
</form>
<p class="mb-1">
    <a asp-controller="Acceso" asp-action="Login">Regresar al Login</a>
</p>

